body{
    background-color: rgb(255, 255, 255);
}
.file{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.org{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.web{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.excel{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.pdf{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.cvs{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.time{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.email{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.images{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.gui{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.No{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 20px;
    width: 20;
}